{% extends 'base/base.html' %}

{% block title %}Log-In{% endblock %}
{% load crispy_forms_tags %}

{% block main %}
    <!-- hero area -->
    <div class="hero-area hero-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <form method="post">{% csrf_token %}
                                <p class="subtitle">Are you sure you want to delete:</p>
                                <h1>"{{ object.title }}"?</h1>
                                {{ form }}
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero area -->
{% endblock %}