{% extends 'base/base.html' %}

{% block title %}Log-In{% endblock %}
{% load crispy_forms_tags %}

{% block main %}
    <!-- hero area -->
    <div class="hero-area hero-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-2 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">authentication page</p>
                            <h1>Sign-Up Form</h1>
{#                            <div class="hero-btns">#}
{#                                <a href="shop.html" class="boxed-btn">Fruit Collection</a>#}
{#                                <a href="contact.html" class="bordered-btn">Contact Us</a>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero area -->


    <!-- start form area -->
    <div class="hero-bg p-5">
        <form method="post" class="mt-3">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
    <!-- end form area -->

{% endblock %}